$font-family: 'Montserrat', sans-serif;
$font-family-title: 'Seymour One', sans-serif;
$main-text-color: #fcfcfc;
$second-text-color: #131313;
$accent-color: #f8d24e;
$address-color: #d6936d;
$main-background-color: #84a178;
$card-one-color: #aec6a5;
$card-second-color: #efd478;
$card-third-color: #d6936d;
$button-text-color: #000000;
$button-color: #0a8817;
$white-color: #ffffff;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
