$font-family: 'Montserrat', sans-serif;
$font-family-title: 'Seymour One', sans-serif;
$main-text-color: #FCFCFC;
$second-text-color: #131313;
$accent-color: #F8D24E;
$address-color: #D6936D;
$main-background-color: #84A178;
$card-one-color: #AEC6A5;
$card-second-color:#EFD478;
$card-third-color:#D6936D;
$button-text-color: #000000;
$button-color: #0A8817;
$white-color: #ffffff;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;



