<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__list-item">
        <p class="contacts__list-title">Cafe</p>
        <ul class="contacts__path">
          <li class="contacts__path-item">
            <p class="contacts__city">Chicago</p>
          </li>
          <li class="contacts__path-item">
            <a
              href="https://goo.gl/maps/wruscxZ6e6eRDbhZ9"
              target="_blank"
              class="contacts__address"
              rel="noopener nofollow noreferrer"
              >10340 Ridgeling Ave, Chicago Ridge, IL 60415, USA</a
            >
          </li>
        </ul>
        <ul class="contacts__schedule">
          <li class="contacts__schedule-item">
            <p class="contacts__shedule-day">Monday - Friday</p>
            <p class="contacts__schedule-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__schedule-item">
            <p class="contacts__shedule-day">Saturday - Sunday</p>
            <p class="contacts__schedule-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <a href="tel:+61(0)383766284" class="contacts__contacts"
          >+61(0) 383 766 284</a
        ><a href="mailto:noreply@envato.com" class="contacts__contacts"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts__list-item">
        <p class="contacts__list-title">Food truck</p>
        <ul class="contacts__path">
          <li class="contacts__path-item">
            <p class="contacts__city">Los Angeles</p>
          </li>
          <li class="contacts__path-item">
            <a
              href="https://goo.gl/maps/47rifiPCR6VofMeh9"
              target="_blank"
              class="contacts__address"
              rel="noopener nofollow noreferrer"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </li>
        </ul>
        <ul class="contacts__schedule">
          <li class="contacts__schedule-item">
            <p class="contacts__shedule-day">Monday - Friday</p>
            <p class="contacts__schedule-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__schedule-item">
            <p class="contacts__shedule-day">Saturday - Sunday</p>
            <p class="contacts__schedule-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <a href="tel:+61(0)383766284" class="contacts__contacts"
          >+61(0) 383 766 284</a
        ><a href="mailto:noreply@envato.com" class="contacts__contacts"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts__list-item">
        <p class="contacts__list-title">Cafe</p>
        <ul class="contacts__path">
          <li class="contacts__path-item">
            <p class="contacts__city">New York</p>
          </li>
          <li class="contacts__path-item">
            <a
              href="https://goo.gl/maps/1HSw9Hif6LwSsf977"
              class="contacts__address"
              target="_blank"
              rel="noopener nofollow noreferrer"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </li>
        </ul>
        <ul class="contacts__schedule">
          <li class="contacts__schedule-item">
            <p class="contacts__shedule-day">Monday - Friday</p>
            <p class="contacts__schedule-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__schedule-item">
            <p class="contacts__shedule-day">Saturday - Sunday</p>
            <p class="contacts__schedule-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <a href="tel:+61(0)383766284" class="contacts__contacts"
          >+61(0) 383 766 284</a
        ><a href="mailto:noreply@envato.com" class="contacts__contacts"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <div class="contacts__btn-wrap">
      <button type="button" class="btn contacts__btn" data-modal-open-location>
        Our Locations
        <svg width="12" height="12" class="btn__icon">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button
        type="button"
        class="btn btn--transparent contacts__btn"
        data-modal-open-franchise
      >
        Franchise
        <svg width="12" height="12" class="btn__icon">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
