<footer class="footer">
  <div class="container">
    <h2 class="footer__title visually-hidden">Contacts</h2>
    <address class="footer__address">
      <ul class="footer__address-list">
        <li class="footer__address-item">
          <h3 class="footer__address-title">Cafe</h3>
          <ul class="footer__address-path">
            <li><p class="footer__address-city">Chicago</p></li>
            <li>
              <a
                href="https://goo.gl/maps/wruscxZ6e6eRDbhZ9"
                target="_blank"
                class="footer__address-address"
                rel="noopener nofollow noreferrer"
                >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
              >
            </li>
          </ul>
          <ul class="footer__address-schedule">
            <li class="footer__address-schedule-item">
              <p class="footer__address-schedule-day">Monday - Friday</p>
              <p class="footer__address-schedule-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="footer__address-schedule-item">
              <p class="footer__address-schedule-day">Saturday - Sunday</p>
              <p class="footer__address-schedule-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <a href="tel:+61(0) 383 766 284" class="footer__address-contacts"
            >+61(0) 383 766 284</a
          ><a href="mailto:noreply@envato.com" class="footer__address-contacts"
            >noreply@envato.com</a
          >
        </li>
        <li class="footer__address-item">
          <h3 class="footer__address-title">Food truck</h3>
          <ul class="footer__address-path">
            <li><p class="footer__address-city">Los Angeles</p></li>
            <li>
              <a
                href="https://goo.gl/maps/47rifiPCR6VofMeh9"
                target="_blank"
                class="footer__address-address"
                rel="noopener nofollow noreferrer"
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
            </li>
          </ul>
          <ul class="footer__address-schedule">
            <li class="footer__address-schedule-item">
              <p class="footer__address-schedule-day">Monday - Friday</p>
              <p class="footer__address-schedule-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="footer__address-schedule-item">
              <p class="footer__address-schedule-day">Saturday - Sunday</p>
              <p class="footer__address-schedule-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <a href="tel:+61(0) 383 766 284" class="footer__address-contacts"
            >+61(0) 383 766 284</a
          ><a href="mailto:noreply@envato.com" class="footer__address-contacts"
            >noreply@envato.com</a
          >
        </li>
        <li class="footer__address-item">
          <h3 class="footer__address-title">Cafe</h3>
          <ul class="footer__address-path">
            <li><p class="footer__address-city">New York</p></li>
            <li>
              <a
                href="https://goo.gl/maps/1HSw9Hif6LwSsf977"
                class="footer__address-address"
                target="_blank"
                rel="noopener nofollow noreferrer"
                >726 Sterling Pl, Brooklyn, NY 11222, USA</a
              >
            </li>
          </ul>
          <ul class="footer__address-schedule">
            <li class="footer__address-schedule-item">
              <p class="footer__address-schedule-day">Monday - Friday</p>
              <p class="footer__address-schedule-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="footer__address-schedule-item">
              <p class="footer__address-schedule-day">Saturday - Sunday</p>
              <p class="footer__address-schedule-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <a href="tel:+61(0) 383 766 284" class="footer__address-contacts"
            >+61(0) 383 766 284</a
          ><a href="mailto:noreply@envato.com" class="footer__address-contacts"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </address>
    <div class="footer__btn-wrap">
      <button type="button" class="btn footer__btn">
        Our Locations
        <svg width="12" height="12" class="btn__icon">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button type="button" class="btn footer__btn btn--transparent">
        Franchise
        <svg width="12" height="12" class="btn__icon">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="footer__text-wrap">
      <p class="footer__text-first">homemade ice cream made</p>
      <p class="footer__text-second">with passion</p>
    </div>
    <ul class="footer__sm-list">
      <li>
        <a href="" class="footer__sm-link">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="" class="footer__sm-link">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="" class="footer__sm-link">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <p class="footer__tel-text">
      Feel free to contact
      <a href="tel:+61(0)383766284" class="footer__tel-link"
        >+61 (0) 383 766 284</a
      >
    </p>
    <p class="footer__copy">
      &copy; 2022 - IceCream.
      <br />
      All Rights Reserved.
    </p>
  </div>
</footer>
