<section class="gallery">
    <div class="container container__gallery">
        <div class="gallery__icecream">

            <!-- <img class="icecream__photo" srcset="./images/slide-1-1x-mob.jpg 280w,
                    ./images/slide-1-2x-mob.jpg 560w,
                    ./images/slide-1-1x-tab.jpg 704w,
                    ./images/slide-1-2x-tab.jpg 1408w,
                    ./images/slide-1-1x.jpg 1113w,
                    ./images/slide-1-2x.jpg 2026w"
                    sizes="(min-width:1200px) 1113px, (min-width:768px) 704px, (min-width:480px) 280px, 100vw"
                    src="./images/slide-1-1x-mob.jpg"
                    alt="photo icecream"> -->


            <img src="./images/slide-1-1x.jpg" alt="photo icecream" class="icecream__photo">
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="swiper-slide__img"
                        srcset="
                            ./images/emili-1x.jpg 1x, 
                            ./images/emili-2x.jpg 2x
                        "
                        src="./images/emili-2x.jpg"
                        alt="photo emili"
                        width="85"/>
                        <!-- <img src="./images/emili-1x.jpg" alt="photo emili" class="swiper-slide__img"> -->
        
                        <!-- <div class="swiper-slide__paragraf"> -->
                    <div class="swiper-slide__paragraf-1">  
                        <p class="swiper-slide__paragraf-1-p"> I love visiting your cafe.
                            You prepare the most delicious ice cream in Los Angeles! 
                            In addition, you have beautiful serving, cozy atmosphere and polite staff.
                        </p>
                    </div>  
                    <div class="swiper-slide__paragraf-2">
                        <p class="swiper-slide__paragraf-2-p">Emily, Los Angeles</p>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="swiper-slide">
                    <img class="swiper-slide__img"
                            srcset="
                                ./images/bryan-1x.jpg 1x, 
                                ./images/bryan-2x.jpg 2x
                            "
                            src="./images/bryan-2x.jpg"
                            alt="photo bryan"
                            width="85"/>
                        <!-- <img src="./images/bryan-1x.jpg" alt="photo bryan" class="swiper-slide__img"> -->
                        <!-- <div class="swiper-slide__paragraf"> -->
                    <div class="swiper-slide__paragraf-1">  
                        <p class="swiper-slide__paragraf-1-p"> Every day we come to you with friends after classes in college. 
                            We love your ice cream and casual atmosphere!
                        </p>
                    </div>  
                    <div class="swiper-slide__paragraf-2">
                        <p class="swiper-slide__paragraf-2-p">Bryan, New-York</p>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="swiper-slide">
                    <img class="swiper-slide__img"
                            srcset="
                                ./images/diana-1x.jpg 1x, 
                                ./images/diana-2x.jpg 2x
                            "
                            src="./images/diana-2x.jpg"
                            alt="photo diana"
                            width="85"/>
                    <!-- <img src="./images/diana-1x.jpg" alt="photo diana" class="swiper-slide__img"> -->
                    <!-- <div class="swiper-slide__paragraf"> -->
                    <div class="swiper-slide__paragraf-1">  
                        <p class="swiper-slide__paragraf-1-p"> Ice cream is my passion! I love your chocolate hazelnut ice cream!
                            And I really like the excellent service - always served politely and quickly!
                        </p>
                    </div>  
                    <div class="swiper-slide__paragraf-2">
                        <p class="swiper-slide__paragraf-2-p">Diana, Chicago</p>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <div class="swiper-pagination"></div>
     
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            -->
            
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
    </div>
</section>

