<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Seymour+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./index.js"></script>
</head>

<body>
    <header>
        
        <button type="button" class="mobile-open" data-menu-open aria-expanded="false" aria-controls="mobile__menu">
            <svg class="mobile-icons" width="32" height="32">
                <use class="mobile-icons__icon-menu" href="./images/icons.svg#icon-menu"></use>
            </svg>
        </button>
        <div class="mobile__menu" id="mobile__menu" data-menu>
            <button type="button" class="mobile-close" data-menu-close aria-expanded="false" aria-controls="mobile__menu">
                <svg class="mobile-icons" width="32" height="32">
                    <use class="mobile-icons__icon-close" href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">How it’s made?</a></li>
                <li><a href="">Our products</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <button type="submit" class="btn mobile__btn">
                Buy now
                <svg width="12" height="12">
                    <use href="./images/icons.svg#"></use>
                </svg>
            </button>
        </div>
    </header>
</body>
</html>