    <header>
        <div class="container">
        
        <div class="mobile">
            <div class="header-mobile">
                <a href="" class="logo mob-logo">
                    <svg class="logo__icon" width="40" height="37">
                        <use class="mobile-icons__logo" href="./images/icons.svg#icon-logo"></use>
                    </svg>
                </a>
                <button type="button" class="mobile-open" data-menu-open aria-expanded="false" aria-controls="mob-list">
                    <svg class="mobile-icons" width="32" height="32">
                        <use class="mobile-icons__icon-menu" href="./images/icons.svg#icon-menu"></use>
                    </svg>
                </button>
            </div>
            <div class="mob-list" id="mob-list" data-menu>
                <a href="" class="logo">
                    <svg class="logo__icons" width="40" height="37">
                        <use href="./images/icons.svg#icon-logo"></use>
                    </svg>
                </a>

                <button type="button" class="mobile-close" data-menu-close aria-expanded="false" aria-controls="mob-list">
                    <svg class="mobile-icons" width="32" height="32">
                        <use class="mobile-icons__icon-close" href="./images/icons.svg#icon-close"></use>
                    </svg>
                </button>

                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item"><a class="nav__link" href="./index.html">Home</a></li>
                        <li class="nav__item"><a class="nav__link" href="#about">How it’s made?</a></li>
                        <li class="nav__item"><a class="nav__link" href="#product-section">Our products</a></li>
                        <li class="nav__item"><a class="nav__link" href="#contacts">Contact</a></li>
                    </ul>
                    <button type="submit" class="btn" data-modal-open-buy-now-mob>
                        Buy now
                        <svg class="btn__icon" width="12" height="12">
                            <use href="./images/icons.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </nav>
            </div>
        </div>

        <div class="tablet">
                <div class="header-tablet">
                    <a href="" class="logo tab-logo">
                        <svg class="logo__icon" width="48" height="44">
                            <use class="tablet-icons__logo" href="./images/icons.svg#icon-logo"></use>
                        </svg>
                    </a>
                    <button type="button" class="tablet-open" data-menu-open-tablet aria-expanded="false" aria-controls="tablet-list">
                        <svg class="tablet-icons" width="48" height="44">
                            <use class="tablet-icons__icon-menu" href="./images/icons.svg#icon-menu"></use>
                        </svg>
                    </button>
                </div>
                <div class="tablet-list" id="tablet-list" data-menu-tablet>
                    <a href="" class="logo">
                        <svg class="logo__icons" width="48" height="44">
                            <use href="./images/icons.svg#icon-logo"></use>
                        </svg>
                    </a>
                    <button type="button" class="tablet-close" data-menu-close-tablet aria-expanded="false" aria-controls="tablet-list">
                        <svg class="tablet-icons" width="32" height="32">
                            <use class="tablet-icons__icon-close" href="./images/icons.svg#icon-close"></use>
                        </svg>
                    </button>
                    <nav class="nav-tablet">
                        <ul class="nav-tablet__list">
                            <li class="nav-tablet__item"><a class="nav-tablet__link" href="./index.html">Home</a></li>
                            <li class="nav-tablet__item"><a class="nav-tablet__link" href="#about">How it’s made?</a></li>
                            <li class="nav-tablet__item"><a class="nav-tablet__link" href="#product-section">Our products</a></li>
                            <li class="nav-tablet__item"><a class="nav-tablet__link" href="#contacts">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <button type="submit" class="btn tab-btn" data-modal-open-buy-now-tablet>
                            Buy now
                            <svg class="btn__icon" width="12" height="12">
                                <use href="./images/icons.svg#icon-arrow-right"></use>
                            </svg>
                </button>
            </div>

            <div class="desk">
                    <a href="" class="desk-logo">
                        <svg class="desk-logo__icons" width="60" height="65">
                            <use href="./images/icons.svg#icon-logo"></use>
                        </svg>
                    </a>
                    <nav class="nav-desk">
                        <ul class="nav-desk__list">
                            <li class="nav-desk__item"><a class="nav-desk__link" href="./index.html">Home</a></li>
                            <li class="nav-desk__item"><a class="nav-desk__link" href="#about">How it’s made?</a></li>
                            <li class="nav-desk__item"><a class="nav-desk__link" href="#product-section">Our products</a></li>
                            <li class="nav-desk__item"><a class="nav-desk__link" href="#contacts">Contact</a></li>
                        </ul>
                    </nav>
                <button type="submit" class="btn desk-btn" data-modal-open-buy-now-desk>
                    Buy now
                    <svg class="btn__icon" width="12" height="12">
                        <use href="./images/icons.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            
        </div>

    </header>
