<section class="hero">
    <div class="container hero-content">
        <h1 class="hero__title">ice cream made with  <span class="hero__uppercase">passion</span></h1>
        <ul class="hero__list">
            <li>
                <a class="btn btn--transparent" href="">
                Products
            </a>
            </li>
            <li><a href="">
                How it’s made?
            </a></li>
        </ul>
        <div class="hero__icecreams">
            <img class="hero__icecream"
                srcset="./images/desk-hero.png 270w, ./images/img-team2-desktop2x.jpg 540w, ./images/img-team2-tablet.jpg 354w, ./images/img-team2-tablet2x.jpg 708w, ./images/img-team2-mobile.jpg 450w, ./images/img-team2-mobile-2x.jpg 900w"
                sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
                src="./images/img-team2-mobile.jpg" alt="Ольга Рєпіна" />
        </div>
        <div class="hero__plates">
            <img class="hero__plate"
                srcset="./images/img-team2-desktop.jpg 270w, ./images/img-team2-desktop2x.jpg 540w, ./images/img-team2-tablet.jpg 354w, ./images/img-team2-tablet2x.jpg 708w, ./images/img-team2-mobile.jpg 450w, ./images/img-team2-mobile-2x.jpg 900w"
                sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
                src="./images/img-team2-mobile.jpg" alt="Ольга Рєпіна" />
        </div>
    </div>
</section>