<section class="hero">
    <div class="container hero-content">
        <h1 class="hero__title">ice cream made with  <span class="hero__uppercase">passion</span></h1>
        <ul class="hero__list">
            <li>
                <a class="btn btn--transparent" href="">
                Products
            </a>
            </li>
            <li><a href="">
                How it’s made?
            </a></li>
        </ul>
        <div class="hero__icecreams">
            <img class="hero__icecream"
                srcset="./images/desk-hero.png 456w, ./images/desk-hero-2x.png 912w, 
                ./images/tablet-hero.png 268w, ./images/tablet-hero-2x.png 536w,
                ./images/mobile-hero.png 176w, ./images/mobile-hero-2x.png 352w"
                sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (min-width: 480px) 176px"
                src="./images/mobile-hero.png" alt="icecream" />
        </div>
        <div class="hero__plates">
            
                
    </div>
</section>