<div class="backdrop is-hidden-cow" data-modal-cow>
  <div class="modal-cow">
    <button
      type="button"
      class="modal-cow__close-btn"
      data-modal-close-cow
    >
      <svg class="modal-cow__close-icon">
        <use href="./images/icons.svg#icon-close-modal"></use>
      </svg>
    </button>
    <h2 class="modal-cow__title">How it’s made?</h2>
    <iframe class="video-cow" src="https://www.youtube.com/embed/fAHqIjcKqP8" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <p class="modal-cow__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor
    sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
  </div>
</div>
