<div class="modal-buy is-hidden-buy-now" data-modal-buy-now>
    <div class="form-buy-modal">
        <button class="form-buy-modal__button" type="button" data-modal-close-buy-now>
            <svg class="form-buy-modal__icon" width="24px" height="24px">
                <use href="./images/icons.svg#icon-close-modal"></use>
            </svg>
        </button>
        <div class="order">
            <p class="order__title">Buy now</p>
            <div class="order-products">
                <ul>
                    <li></li>
                </ul>
            </div>
            <form class="order__form">
                <div class="order__field">
                    <label for="name" class="order__label"></label>
                    <input type="text" class="order__input" name="name" id="name" placeholder="Name">
                </div>
                <div class="order__field">
                    <label for="phone" class="order__label"></label>
                    <input type="tel" class="order__input" name="phone" id="phone" placeholder="Phone">
                </div>
                <div class="order__field order__field--margin">
                    <label for="feedback" class="order__label"></label>
                    <textarea name="feedback" id="feedback" placeholder="Comment"
                        class="order__feedback"></textarea>
                </div>
                <div class="order__button">
                    <button type="submit" class="btn btn-buy-now">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>