
<section class="product-section overlay">
  <div class="container">
    <p class="product_slogan">
      100% natural <br />
      <span class="slogan_accent">products</span>
    </p>

    <ul class="product_list">
      <li class="product_item">
        <picture class="product_picture icecream">
          <source srcset="
              ../images/icecream_desktop-1x.jpg x
              ../images/icecream_desctop-2x.jpg 2x
            " media="(min-width: 1200px)" />
          <source srcset="
              ../images/icecream_tablet-1x.jpg 1x,
              ../images/icecream_tablet-2x.jpg 2x
            " media="(min-width: 768px)" />
          <source srcset="
              ../images/icecream_mobile-1x.jpg 1x,
              ../images/icecream_mobile-2x.jpg 2x
            " media="(min-width: 480px)" />
          <img class="product_img" src="../images/icecream_mobile-1x.jpg" alt="ice-cream" />
        </picture>
        <h2 class="product_heading">ice cream</h2>
        <div class="text_wrap-icecream">
          <p class="product_text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>

        <button class="product_button">
          <svg class="product_arrow" width="40px" height="16px">
            <use href=""></use>
          </svg>
        </button>
      </li>

      

      <li class="product_item">
        <picture class="product_picture coffee">
          <source srcset="
              ../images/coffee_desktop-1x.jpg 1x,
              ../images/coffee_desktop-2x.jpg 2x
            " media="(min-width: 1200px)" />
          <source srcset="
              ../images/coffee_tablet-1x.jpg 1x,
              ../images/coffee_tablet-2x.jpg 2x
            " media="(min-width: 768px)" />
          <source srcset="
              ../images/coffee_mobile-1x.jpg 1x,
              ../images/coffee_mobile-2x.jpg 2x
            " media="(min-width: 480px)" />
          <img class="product_img" src="../images/coffee_mobile-1x.jpg" alt="coffee" />
        </picture>
        <h2 class="product_heading">ice coffee</h2>
        <div class="text_wrap-coffee">
          <p class="product_text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>

        <button class="product_button">
          <svg class="product_arrow" width="40px" height="16px">
            <use href=""></use>
          </svg>
        </button>
      </li>

     
      <li class="product_item">
        <picture class="product_picture milk">
          <source srcset="
              ../images/milk_desktop-1x.jpg 1x,
              ../images/milk_desktop-2x.jpg 2x
            " media="(min-width: 1200px)" />
          <source srcset="
              ../images/milk_tablet-1x.jpg 1x,
              ../images/milk_tablet-2x.jpg 2x
            " media="(min-width: 768px)" />
          <source srcset="
              ../images/milk_mobile-1x.jpg 1x,
              ../images/milk_mobile-2x.jpg 2x
            " media="(min-width: 480px)" />
          <img class="product_img" src="../images/milk_mobile-1x.jpg" alt="milkshake" />
        </picture>


        <h2 class="product_heading">milkshakes</h2>
        <div class="text_wrap-milk">
          <p class="product_text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>

        <button class="product_button">
          <svg class="product_arrow" width="40px" height="16px">
            <use href=""></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>