<section class="product-section overlay" id="product-section">
  <div class="container">
    <p class="product_slogan">
      100% natural <br />
      <span class="slogan_accent">products</span>
    </p>

    <ul class="product_list">
      <li class="product_item first_product">
        <div class="product_info">
          <h2 class="product_heading">ice cream</h2>
          <p class="product_text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>

        <button
          type="submit"
          class="hero-text__link product__link"
          data-modal-open-about-product-one
        >
          <svg class="product__icon" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow-black"></use>
          </svg>
        </button>
      </li>

      <li class="product_item second_product">
        <div class="product_info">
          <h2 class="product_heading">ice coffee</h2>
          <p class="product_text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>

        <button
          type="submit"
          class="hero-text__link product__link"
          data-modal-open-about-product-two
        >
          <svg class="product__icon" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow-black"></use>
          </svg>
        </button>
      </li>

      <li class="product_item third_product">
        <div class="product_info">
          <h2 class="product_heading">milkshakes</h2>
          <p class="product_text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button
          type="submit"
          class="hero-text__link product__link"
          data-modal-open-about-product-tree
        >
          <svg class="product__icon" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow-black"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
