.about {
  padding-top: 60px;
  padding-bottom: 50px;

  @include mq(tab) {
    padding-bottom: 60px;
  }
}

.about-images {
  position: relative;
  display: block;
  width: 280px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 40px;

  @include mq(tab) {
    width: 336px;
    height: 356px;
    padding-top: 20px;
    margin: 0;
  }

  @include mq(desk) {
    width: 493px;
    height: 529px;
    margin-right: 100px;
    padding-top: 40px;
  }
}

.about-img {
  position: absolute;
  z-index: 1;
  width: 100%;

  @include mq(tab) {
    margin-bottom: 0;
  }
}

.about-img--yellow {
  position: absolute;
  min-width: 305px;
  bottom: 0px;
  right: -15px;

  @include mq(tab) {
    min-width: 385px;
    right: -25px;
    top: -20px;
  }

  @include mq(desk) {
    min-width: 550px;
    top: -25px;
    right: -40px;
  }
}

.about-info {
  text-align: center;
  margin: 0 auto;

  @include mq(tab) {
    text-align: left;
  }

  @include mq(desk) {
    padding-top: 90px;
  }
}

.about-subtitle {
  font-family: $font-family;
  // width: 210px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;

  @include mq(tab) {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.04em;
  }

  @include mq(desk) {
    font-size: 30px;
  }
}

.about-title {
  font-family: $font-family-title;
  font-weight: 400;
  font-size: 30px;
  width: 210px;
  margin: 0 auto;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 54px;
  text-transform: uppercase;

  @include mq(tab) {
    font-size: 34px;
    width: 100%;
    letter-spacing: 0.06em;
    margin-bottom: 80px;
  }

  @include mq(desk) {
    font-size: 36px;
  }
}

.about-text {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  margin: 0 auto;
  text-align: center;

  @include mq(mob-only) {
    width: 220px;
  }

  @include mq(tab) {
    width: 334px;
    text-align: start;
  }

  @include mq(desk) {
    width: 463px;
  }
}

.about-text--first {
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  line-height: 1.8;

  @include mq(tab) {
    margin-bottom: 8px;
  }

  @include mq(desk) {
    font-size: 16px;
  }
}

.about-text--middle {
  margin-bottom: 10px;
  line-height: 1.6;

  @include mq(tab) {
    line-height: 1.8;
    margin-bottom: 8px;
    letter-spacing: 0.04em;
  }

  @include mq(desk) {
    font-size: 14px;
    line-height: 1.9;
  }
}

.about-text--last {
  display: none;

  @include mq(tab) {
    display: block;
    padding-right: 40px;
    line-height: 1.9;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
  }

  @include mq(desk) {
    font-size: 14px;
    padding-right: 0;
    margin-bottom: 50px;
  }
}

.about-block {
  @include mq(tab) {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  @include mq(desk) {
    justify-content: start;
    gap: 0;
  }
}

.about-button {
  display: inline-flex;
}

.about-title {
  position: relative;
}

.about-title:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  $main-text-color: 40%;
  $accent-color: 60%;
  background: linear-gradient(
    135deg,
    transparent $main-text-color,
    $main-background-color $accent-color
  );
  background-size: 300% 100%;
  background-origin: top left;

  animation: fadeIn 5s ease-out;
  background-position-x: 0%;
}

@keyframes fadeIn {
  0% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 0%;
  }
}
