/*.advantages {
    background-color: $main-background-color;
}
*/
/*
.advantages__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/

.advantages__title {
    font-weight: 700;
    font-size: 58px;
    line-height: 1.22;
    text-align: start;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $main-text-color;
}

.cow::before {
    content: url('../images/cow.png');
    /*background-image: url(../images/cow.png);*/
}

.weight::before {
    content: url('../images/weight.png');
    /*background-image: url(../images/cow.png);*/
}

.ice-crema::before {
    content: url('../images/ice-crema.png');
    /*background-image: url(../images/cow.png);*/
}

.advantages__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.76;
    text-align: start;
    letter-spacing: 0.02em;
    color: #FCFCFC;
}