// використовуйте клас btn ЗАВЖДИ, якщо в вас є BUTTON
// будь-який!

// додавайте клас btn--transparent паралельно,
// якщо вам потрібна прозора кнопка

// або/ще клас btn--small,
// якщо потрібна маленька прозора кнопка

// додавайте клас btn__icon у ваш svg тег,
// в якому ви розмістите саму іконку всередені use

// все повинно працювати коректно з обома кнопками: і ховер, і фокус

// використовуйте btn-anchor для якорів,
// які створюєте за допомогою посилань <a></a>,
// а не <button>
// Розмір адаптується під ширину вьюпорту

.btn {
  padding: 12px 34px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $font-family;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.29;
  text-align: center;
  color: $second-text-color;

  background-color: $accent-color;
  border: transparent;
  border-radius: 10px;

  cursor: pointer;
  @include transitionM(transform);

  &:hover,
  &:focus {
    background-color: $button-color;
    transform: scale(1.1);
  }

  &:focus {
    color: $main-text-color;
  }

  @include mq(desk) {
    font-size: 14px;
  }
}

.btn--transparent {
  background-color: transparent;
  border: 2px solid $accent-color;
  padding: 12px 46px;

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: $button-color;
  }

  &:focus {
    color: $main-text-color;
    outline: none;
    border: 2px solid $button-color;
  }

  @include transitionM(background-color);
  @include transitionM(color);
  @include transitionM(border);
}

.btn--small {
  padding: 11px 26px;

  font-size: 12px;
  line-height: 1.25;

  background-color: transparent;
  border: 2px solid $accent-color;

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: $button-color;
  }

  &:focus {
    color: $main-text-color;
    outline: none;
    border: 2px solid $button-color;
  }

  @include mq(desk) {
    padding: 12px 34px;
    font-size: 14px;
  }
}

.btn__icon {
  margin-left: 6px;

  .btn:focus &,
  .btn--transparent:focus & {
    fill: currentColor;
  }
}

// button-anchor

.btn-anchor {
  display: inline-block;
  padding: 11px 0;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: $accent-color;
  text-decoration-line: underline;
  text-align: center;

  border: none;

  cursor: pointer;
  @include transitionM(transform);

  &:hover {
    color: $button-color;
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
    color: $main-text-color;
    transform: scale(1.1);
  }

  @include mq(tab) {
    padding: 11px 11px;
  }

  @include mq(desk) {
    padding: 12px 22px;
    font-size: 14px;
    line-height: 1.2;
  }

  @include transitionM(color);
}
