.contacts {
  position: relative;
  top: -360px;
  margin-bottom: -360px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  @include mq(tab) {
    top: -320px;
    margin-bottom: -320px;
    font-size: 14px;
  }

  @include mq(desk) {
    top: -96px;
    margin-bottom: -96px;

    font-size: 16px;
  }
}

// contacts cards

.contacts__list {
  margin-bottom: 32px;

  font-style: normal;
  letter-spacing: 0.04em;
  color: $second-text-color;

  @include mq(tab) {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 60px;
  }

  @include mq(desk) {
    gap: 32px;
    margin-bottom: 64px;
  }
}

.contacts__list-item {
  width: 280px;
  padding: 40px 32px;
  margin-left: auto;
  margin-right: auto;

  background-color: $white-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @include transitionM(box-shadow);

  &:not(:last-child) {
    margin-bottom: 20px;

    @include mq(tab) {
      margin-bottom: 0;
    }
  }

  @include mq(tab) {
    width: calc((100% - 16px * 2) / 3);
    padding: 40px 24px;
  }

  @include mq(desk) {
    width: calc((100% - 32px * 2) / 3);
    padding: 40px 40px;
  }

  &:hover {
    box-shadow: 3px 3px 20px rgba(65, 65, 65, 0.5),
      -3px -3px 20px rgba(65, 65, 65, 0.5);
  }
}

.contacts__list-title {
  display: inline-block;
  padding: 0 24px;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;

  background-color: $accent-color;
  border-radius: 4px;

  @include transitionM(transform);

  @include mq(tab) {
    padding: 0 11px;
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 1.87;
  }

  .contacts__list-item:hover & {
    transform: scale(1.1);
  }
}

.contacts__path,
.contacts__schedule {
  position: relative;
  margin-bottom: 48px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;

    @include mq(tab) {
      bottom: -32px;
    }
  }

  @include mq(tab) {
    margin-bottom: 64px;
  }
}

.contacts__path-item:not(:last-child),
.contacts__schedule-item:not(:last-child) {
  margin-bottom: 8px;

  @include mq(tab) {
    margin-bottom: 12px;
  }
}

.contacts__path-item:not(:last-child) {
  @include mq(desk) {
    margin-bottom: 8px;
  }
}

.contacts__address {
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: $address-color;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.contacts__schedule-time {
  text-transform: uppercase;
  color: #ababab;

  @include mq(tab-only) {
    color: #907e82;
  }
}

.contacts__contacts {
  display: block;
  line-height: 1.5;
  color: $second-text-color;

  cursor: pointer;

  @include mq(tab) {
    line-height: 1.83;
  }
}

// buttons

.contacts__btn-wrap {
  @include mq(tab) {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

.contacts__btn {
  @include mq(mob-only) {
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__btn:not(:last-child) {
  @include mq(mob-only) {
    margin-bottom: 16px;
  }
}
