.footer {
  position: relative;
  top: -360px;

  padding-bottom: 62px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  @include mq(tab) {
    top: -320px;
    padding-bottom: 13px;

    font-size: 14px;
  }

  @include mq(desk) {
    top: -96px;
    padding-bottom: 11px;

    font-size: 16px;
  }
}

// footer address cards

.footer__address-list {
  margin-bottom: 32px;

  font-style: normal;
  letter-spacing: 0.04em;
  color: $second-text-color;

  @include mq(tab) {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 60px;
  }

  @include mq(desk) {
    gap: 32px;
    margin-bottom: 64px;
  }
}

.footer__address-item {
  width: 280px;
  padding: 40px 32px;
  margin-left: auto;
  margin-right: auto;

  background-color: $white-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  &:not(:last-child) {
    margin-bottom: 20px;

    @include mq(tab) {
      margin-bottom: 0;
    }
  }

  @include mq(tab) {
    width: calc((100% - 16px * 2) / 3);
    padding: 40px 24px;
  }

  @include mq(desk) {
    width: calc((100% - 32px * 2) / 3);
    padding: 40px 40px;
  }
}

.footer__address-title {
  display: inline-block;
  padding: 0 24px;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;

  background-color: $accent-color;
  border-radius: 4px;

  @include mq(tab) {
    padding: 0 11px;
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 1.87;
  }
}

.footer__address-path,
.footer__address-schedule {
  position: relative;
  margin-bottom: 48px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;

    @include mq(tab) {
      bottom: -32px;
    }
  }

  @include mq(tab) {
    margin-bottom: 64px;
  }
}

.footer__address-path-item:not(:last-child),
.footer__address-schedule-item:not(:last-child) {
  margin-bottom: 8px;

  @include mq(tab) {
    margin-bottom: 12px;
  }
}

.footer__address-path-item:not(:last-child) {
  @include mq(desk) {
    margin-bottom: 8px;
  }
}

.footer__address-address {
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: $address-color;

  &:hover {
    text-decoration: underline;
  }
}

.footer__address-schedule-time {
  text-transform: uppercase;
  color: #ababab;

  @include mq(tab-only) {
    color: #907e82;
  }
}

.footer__address-contacts {
  display: block;
  line-height: 1.5;
  color: $second-text-color;

  @include mq(tab) {
    line-height: 1.83;
  }
}

// footer buttons

.footer__btn-wrap {
  margin-bottom: 39px;

  @include mq(tab) {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
  }

  @include mq(desk) {
    margin-bottom: 120px;
  }
}

.footer__btn {
  @include mq(mob-only) {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__btn:not(:last-child) {
  @include mq(mob-only) {
    margin-bottom: 16px;
  }
}

// footer text

.footer__text-first {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 18px;

  @include mq(tab) {
    margin-bottom: 9px;

    font-size: 26px;
  }

  @include mq(desk) {
    margin-bottom: 14px;

    font-weight: 400;
    font-size: 30px;
  }
}

.footer__text-second {
  font-weight: 700;
  font-size: 34px;

  @include mq(tab) {
    font-size: 48px;
    letter-spacing: 0.06em;
  }

  @include mq(desk) {
    font-size: 58px;
  }
}

// wrappers

.footer__common-wrap {
  position: relative;
  margin-bottom: 56px;

  @include mq(tab) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
  }

  @include mq(desk) {
    align-items: center;
    margin-bottom: 66px;
  }
}

// ::after grey line

.footer__common-wrap::after {
  content: '';
  position: absolute;
  left: -15px;
  bottom: -40px;
  width: calc(100% + 30px);
  height: 1px;
  background-color: #e1e1e1;

  @include mq(tab) {
    bottom: -32px;
  }

  @include mq(desk) {
    left: 0;
    bottom: -54px;
    width: 100%;
  }
}

.footer__text-wrap {
  max-width: 232px;
  margin-bottom: 42px;

  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include mq(tab) {
    max-width: 350px;
    margin-bottom: 0;
  }

  @include mq(desk) {
    max-width: 504px;
  }
}

.footer__link-wrap {
  @include mq(tab) {
    position: relative;
    bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 32px;
  }

  @include mq(desk) {
    bottom: 0;
    gap: 40px;
  }
}

// social media

.footer__sm-list {
  display: flex;
  justify-content: flex-end;
  gap: 27px;
  margin-bottom: 38px;

  @include mq(tab) {
    margin-bottom: 0;
    gap: 30px;
  }
}

.footer__sm-link {
  display: flex;
  align-items: center;

  color: #84a178;
  fill: currentColor;

  @include transitionM(color);

  &:hover,
  &:focus {
    color: $main-text-color;
    fill: currentColor;
  }
}

.footer__sm-icon {
  width: 32px;
  height: 32px;

  @include mq(tab) {
    width: 34px;
    height: 34px;
  }
}

// tel number

.footer__tel-text {
  font-weight: 700;
  color: $second-text-color;
  text-align: right;

  @include mq(desk) {
    letter-spacing: 0.02em;
  }
}

.footer__tel-link {
  color: $main-text-color;
}

.footer__copy {
  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #7a7a7a;
  text-align: center;

  @include mq(mob-only) {
    max-width: 150px;
  }

  @include mq(tab) {
    line-height: 1.86;
    letter-spacing: 0.02em;
  }

  @include mq(desk) {
    font-size: 16px;
  }
}
