.footer {
  padding-top: 60px;
  padding-bottom: 20px;

  position: relative;

  @include mq(tab) {
    padding-top: 40px;
    padding-bottom: 12px;
  }

  @include mq(desk) {
    padding-top: 120px;
  }
}

// ::after grey line

.footer::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 82px;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;

  @include mq(tab) {
    bottom: 50px;
  }

  @include mq(desk) {
    left: 16px;
    right: 16px;
    bottom: 44px;
    width: calc(100% - 32px);
  }
}

// wrappers

.footer__common-wrap {
  margin-bottom: 56px;

  @include mq(tab) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
  }

  @include mq(desk) {
    align-items: center;
    margin-bottom: 66px;
  }
}

.footer__text-wrap {
  max-width: 234px;
  margin-bottom: 60px;

  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include mq(tab) {
    max-width: 352px;
    margin-bottom: 0;
  }

  @include mq(desk) {
    max-width: 504px;
  }
}

.footer__link-wrap {
  @include mq(tab) {
    position: relative;
    bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 32px;
  }

  @include mq(desk) {
    bottom: 0;
    gap: 40px;
  }
}

// footer text

.footer__text-first {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 18px;

  @include mq(tab) {
    margin-bottom: 9px;

    font-size: 26px;
  }

  @include mq(desk) {
    margin-bottom: 14px;

    font-weight: 400;
    font-size: 30px;
  }
}

.footer__text-second {
  font-weight: 700;
  font-size: 34px;

  @include mq(tab) {
    font-size: 48px;
    letter-spacing: 0.06em;
  }

  @include mq(desk) {
    font-size: 58px;
  }
}

// social media

.footer__sm-list {
  display: flex;
  justify-content: flex-end;
  gap: 27px;
  margin-bottom: 38px;

  @include mq(tab) {
    margin-bottom: 0;
    gap: 30px;
  }
}

.footer__sm-link {
  display: flex;
  align-items: center;

  color: $main-background-color;
  fill: currentColor;

  @include transitionM(color);

  &:hover,
  &:focus {
    color: $main-text-color;
    fill: currentColor;
  }
}

.footer__sm-icon {
  width: 32px;
  height: 32px;

  cursor: pointer;

  @include mq(tab) {
    width: 34px;
    height: 34px;
  }
}

// tel number

.footer__tel-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.86;
  color: $second-text-color;
  text-align: right;

  @include mq(tab) {
    font-size: 14px;
  }

  @include mq(desk) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer__tel-link {
  color: $main-text-color;
  cursor: pointer;
}

.footer__copy {
  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #7a7a7a;
  text-align: center;

  @include mq(mob-only) {
    max-width: 150px;
  }

  @include mq(tab) {
    line-height: 1.86;
    letter-spacing: 0.02em;
  }

  @include mq(desk) {
    font-size: 12px;
  }
}
