.mobile-close .mobile-icons__icon-menu {
    display: none;
}

.mobile-open .mobile-icons__icon-menu {
    display: block;

}

.mobile-open .mobile-icons__icon-close {
    display: none;
}

.mobile-open .mobile-icons__logo {
    display: none;
}

.mobile-open {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: auto;
    

}

.mobile-close {
    position: fixed;
    right: 20px;
    top: 16px;
    width: 32px;
    height: 32px;

    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.mobile-icons {
    flex-shrink: 0;
}

.mobile-icons__icon-close {
    fill: currentColor;
}

.mobile-icons__icon-menu {
    fill: currentColor;
}

.mob-list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;


    &.is-hidden {
        display: flex;
        flex-direction: column;

        overflow: auto;
    }
}

.nav {
    
}

.nav__list {
    text-align: center;
    margin-top: 100px;
}

.nav__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.nav__link {
    font-weight: 700;
    font-size: 32px;
    line-height: calc(39/32);
    align-items: center;
    text-align: center;
    color: $main-text-color;
    &:hover, 
    &:focus {
        color: $second-text-color;
    }
}

.logo__icons {
    position: fixed;
    left: 32px;
    top: 12px;
    width: 40px;
    height: 37px;
    z-index: 15;
}

