

.mobile-close .mobile-icons__icon-menu {
    display: none;
}

.mobile-open .mobile-icons__icon-menu {
    display: block;
}

.mobile-open .mobile-icons__icon-close {
    display: none;
}

.mob-logo {
    display: block;
    padding: 12px 0;
}

.mobile-open {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: auto;
    background-color: transparent;
}

.mobile-close {
    position: fixed;
    right: 20px;
    top: 16px;
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    background-color: transparent;
}

.mobile-icons, .logo__icons {
    flex-shrink: 0;
}

.mobile-icons__icon-close {
    fill: currentColor;
}

.mobile-icons__icon-menu {
    fill: currentColor;
}

.mob-list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-background-color;
    z-index: 14;
   


    &.is-hidden {
        display: flex;
        flex-direction: column;
        overflow: auto;
        
    }
}


.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: auto;
    padding: 100px 30px 64px;
}

.nav__list {
    text-align: center;

}

.nav__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.nav__link {
    font-weight: 700;
    font-size: 32px;
    line-height: calc(39/32);
    align-items: center;
    text-align: center;
    color: $main-text-color;
    &:hover, 
    &:focus {
        color: $second-text-color;
    }
    @include transitionM(color);
}

.logo__icons {
    position: fixed;
    left: 32px;
    top: 12px;
    width: 40px;
    height: 37px;
    z-index: 15;
    @include mq(tab-only) {
        width: 48px;
        height: 44px;
    }
}

.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@include mq(tab) {
    .mobile {
        display: none;
    }
}


.tablet {
    display: none;
    @include mq(tab-only) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

.nav-tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: auto;
    padding: 100px 30px 64px;
}

.nav-tablet__list {
    text-align: center;

}

.nav-tablet__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.nav-tablet__link {
    font-weight: 700;
    font-size: 48px;
    line-height: calc(58/48);
    align-items: center;
    text-align: center;
    color: $main-text-color;

    &:hover,
    &:focus {
        color: $second-text-color;
    }

    @include transitionM(color);
}

.tablet-close .tablet-icons__icon-menu {
    display: none;
}

.tablet-open .tablet-icons__icon-menu {
    display: block;
}

.tablet-open .tablet-icons__icon-close {
    display: none;
}


.tablet-open {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: auto;
    background-color: transparent;
}

.tablet-close {
    position: fixed;
    right: 20px;
    top: 16px;
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    background-color: transparent;
}

.tablet-icons {
    flex-shrink: 0;
}

.tablet-icons__icon-close {
    fill: currentColor;
}

.tablet-icons__icon-menu {
    fill: currentColor;
}

.tablet-list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-background-color;
    z-index: 14;


    &.is-hidden {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
}

.header-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.tab-btn {
    margin-left: 32px;
}

.tab-logo {
    display: block;
    padding: 20px 0;
}

.desk {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

@include mq(not-desk) {
    .desk {
        display: none;
    }
}

.nav-desk__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-desk__item {
    &:not(:last-child) {
            margin-right: 28px;
        }
}

.nav-desk__link {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20/16);
    align-items: center;
    text-align: center;
    color: $main-text-color;
    padding: 40px 0px;
    
        &:hover,
        &:focus {
            color: $accent-color;
        }

    @include transitionM(color);
}

