.hero-content {
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-image:
            url('../images/mobile-hero-dots.png');
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url('../images/mobile-hero-dots-2x.png');
        }
    
        @media screen and (min-width: 768px) {
            background-image:
                url('../images/tablet-dots.png');
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    url('../images/tablet-dots-2x.png');
            }
        }
    
        @media screen and (min-width: 1200px) {
            background-image:
                url('../images/desk-dots.png');
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    url('../images/desk-dots-2x.png');
            }
        }

}

.hero-content {
    position: relative;
    height: 502px;
    padding-top: 38px;
    padding-bottom: 236px;
    @include mq(tab) {
        height: 350px;
        padding-top: 12px;
        padding-bottom: 12px;
        }
    @include mq(desk) {
        padding-top: 14px;
        padding-bottom: 332px;
        height: 560px;
    }
    
}

.hero__title {
    font-family: $font-family-title;
    font-size: 26px;
    line-height: calc(33/26);
    letter-spacing: 0.04em;
    color: $main-text-color;
    max-width: 247px;
    
    margin-bottom: 32px;
    

    @include mq(desk) {
        font-size: 38px;
        line-height: calc(48/38);
        letter-spacing: 0.04em;
        
        max-width: 367px;
    }
}

.hero__uppercase {
    
    font-size: 34px;
    line-height: calc(33/34);
    @include mq(desk) {
            font-size: 38px;
            line-height: calc(48/38);
            letter-spacing: 0.04em;
            
        }

}

.hero__list {
    display: flex;
    align-items: center;
    gap: 12px;
}


.hero__icecreams {
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: 4;
    transform: translateX(50%);
    height: 219px;
    width: 176px;
    @include mq(tab) {
        height: 333px;
        right: 100px;
        transform: translateX(0);
        bottom: 0;
        width: 268px;
        }
        
        @include mq(desk) {
            height: 560px;
            right: 90px;
            transform: translateX(0);
            bottom: 0;
            width: 456px;
        }
}


.hero__plates {
    display: none;

    @include mq(tab) {
        display: block;
        position: absolute;
        left: 32px;
        bottom: 6px;
        z-index: 5;
    }
        @include mq(desk) {
            bottom: 65px;
            left: 16px;
        }
}

.hero__blurs {
    position: absolute;
        bottom: 0;
        right: 50%;
        z-index: 1;
        transform: translateX(50%);
        height: 236px;
        width: 182px;
    
        @include mq(tab) {
            height: 342px;
            right: 100px;
            transform: translateX(0);
            bottom: 0;
            width: 266px;
        }
    
        
    
        @include mq(desk) {
            height: 590px;
            right: 90px;
            transform: translateX(0);
            bottom: 0;
            width: 477px;
        }
}