.hero {


}

.hero-content {
    position: relative;
    height: 502px;
    padding-top: 38px;
    padding-bottom: 236px;
    @include mq(desk) {
        padding-top: 14px;
        padding-bottom: 332px;
        height: 560px;
    }
}

.hero__title {
    font-family: $font-family-title;
    font-size: 26px;
    line-height: calc(33/26);
    letter-spacing: 0.04em;
    color: $main-text-color;
    max-width: 247px;
    
    margin-bottom: 32px;
    

    @include mq(desk) {
        font-size: 38px;
        line-height: calc(48/38);
        letter-spacing: 0.04em;
        
        max-width: 367px;
    }
}

.hero__uppercase {
    
    font-size: 34px;
    line-height: calc(33/34);
    @include mq(desk) {
            font-size: 38px;
            line-height: calc(48/38);
            letter-spacing: 0.04em;
            
        }

}

.hero__list {
    display: flex;
    align-items: center;
    gap: 12px;
}


.hero__icecreams {
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: 4;
    transform: translateX(50%);
    min-height: 219px;
}


.hero-plates {
    display: none;
    @include mq(tab) {
        position: absolute;
        left: 0;
        bottom: 12px;
        z-index: 5;
    }
        @include mq(desk) {
            bottom: 40px;
        }
}