.hero {}


.hero__title {
    font-family: $font-family-title;
    font-size: 26px;
    line-height: calc(33/26);
    letter-spacing: 0.04em;
    color: $main-text-color;
    max-width: 247px;
    margin-top: 99px;
    margin-bottom: 32px;
    margin-left: 20px;
}

.hero__uper {
    text-transform: uppercase;
}