.modal-buy {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    @include transitionM(opacity);
    @include transitionM(visibility);
}

.modal-buy.is-hidden-buy-now {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-buy.is-hidden-buy-now .order {
    transform: translate(-50%, -50%) scale(1.1);
}

.form-buy-modal {
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: right;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 28px;
    background-color: $main-text-color;
    border-radius: 10px;
    @include transitionM(transform);

    max-width: 568px;
    

}

.form-buy-modal__button {
    position: absolute;
    display: inline-flex;
    top: 12px;
    right: 12px;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: none;
    
    color: $second-text-color;
    background-color: transparent;
    @include transitionM(color);

    &:hover,
    &:focus {
        color: $button-color;
    }
}

.form-buy-modal__icon {
    fill: currentColor;
    flex-grow: 0;
}

.order {
    max-width: 368px;
    margin: 0 auto;
}

.order__title {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: calc(24/16);
    font-family: $font-family-title;
    text-align: center;
    color: $second-text-color;
    @include mq (tab) {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: calc(28/20);
    }
}

.order__input {
    padding: 8px 12px;
    width: 100%;
    height: 32px;
    border-radius: 10px;
    outline: none;
    font-size: 12px;
    @include transitionM(border);
    border: 1px solid $main-background-color;
    &:focus {
        border-color: $accent-color;
    }
}


.order__field {
    position: relative;
    margin-bottom: 12px;
    color: $second-text-color;

    @include mq (tab)  {
        margin-bottom: 16px;
    }
}

.order__field--margin {
    margin-bottom: 24px;
    @include mq (tab) {
            margin-bottom: 32px;
        }
}


.order__feedback {
    display: block;
    font-family: $font-family;
    padding: 11px 16px;
    width: 100%;
    height: 84px;
    resize: none;
    border: 1px solid $main-background-color;
    border-radius: 10px;
    outline: none;
    @include transitionM(border);

    &:focus {
        border-color: $accent-color;
    }
}

.btn-buy-now {
    display: block;
    margin: 0 auto;
}



